.recipeOverview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipeList {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
