.recipeOverview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipeIntro {
  background-color: rgba(226, 226, 250, 0.5);
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.recipeIntro ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.recipeIntro li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.recipeIntro li:hover {
  font-weight: 600;
}

.recipeList {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.oneRecipeList {
  margin: 1%;
}

.oneRecipeList article {
  width: 30vw;
  height: 28vw;
  min-height: fit-content;
  justify-content: space-between;
}

.oneRecipeList article img {
  margin: 0;
  width: 100%;
  height: auto;
}

.oneRecipeList h4 {
  font-size: 1.1em;
}

.recipeInstructions {
  margin: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.recipeInstructions ol {
  width: 40%;
  justify-content: left;
}

.recipeInstructions ul {
  width: 40%;
  justify-content: right;
}

.recipeInstructions ul,
.recipeInstructions ol {
  display: flex;
  flex-direction: column;
  text-align: left;
}
