.Homepage {
  padding: 1%;
  min-height: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: rgb(165, 15, 15);
  text-shadow: 2px 3px 5px rgb(245, 245, 245);
}

.Homepage h3 {
  margin: 1% 4%;
  font-weight: 600;
  font-size: 6vw;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-weight: 800;
  font-size: 15vw;
  width: 100%;
  text-align: center;
  margin: 3%;
}

.Homepage .second {
  text-align: right;
}
