.Homepage {
  padding: 1%;
  height: 100%;
  width: 100%;
  min-height: 50vw;
  display: flex;
  flex-direction: column;
}

.Homepage h3 {
  margin: 1% 4%;
  font-weight: 600;
  font-size: 6vw;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-weight: 800;
  font-size: 13vw;
  width: 100%;
  text-align: center;
  margin: 1%;
}

.Homepage .second {
  text-align: right;
}
