header,
footer {
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: rgba(255, 255, 255, 0.5);
  height: fit-content;
  padding: 0.5% 2% 0.2%;
}

header h4 {
  font-family: 'Yellowtail', cursive;
  font-size: 1.8vw;
  min-width: 16vw;
}

nav {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.menu {
  font-size: 1.2vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu a {
  width: 100%;
  padding: 0 2%;
  list-style-type: none;
  margin: 1%;
  text-align: center;
  min-width: 11vw;
  text-decoration: none;
}

.menu > span {
  height: 100%;
  display: flex;
  align-items: center;
}
