header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: fit-content;
  padding: 0.5% 2% 0.2%;
}

header {
  justify-content: space-between;
}

header h4 {
  font-family: 'Yellowtail', cursive;
  font-size: 1.8vw;
  min-width: 16vw;
}

nav {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.menu {
  font-size: 1.2vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu a {
  width: 100%;
  padding: 0 2%;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  min-width: 11vw;
}

.audioWrapper {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  justify-content: center;
  min-width: 11vw;
}

.rhap_container {
  padding: 0;
  margin: 0;
  height: 2em;
}

.rhap_play-pause-button svg {
  width: 2.3vw;
  height: 2.3vw;
}

.menu > span {
  height: 100%;
  display: flex;
  align-items: center;
}

footer {
  justify-content: left;
}
