body {
  color: black;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(0, 169, 211) 100%
  );
}

.Homepage {
  color: rgb(2, 0, 0);
}

h1,
.Homepage h3 {
  text-shadow: 5px 3px 3px #a85a00;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.oneTipList {
  background-color: violet;
}
