body {
  color: black;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(227, 157, 255, 1) 38%
  );
}

.Homepage {
  color: rgb(2, 0, 0);
}

h1,
.Homepage h3 {
  text-shadow: 5px 3px 3px #bea3a3;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.oneTipList {
  background-color: violet;
}
